@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

h1{
  font-family: 'Abril Fatface', cursive;
  font-size:56px;
}
#but {
   text-align:center;
   padding-top:300px;
}