{{#partial "title"}}Home{{/partial}}

{{#partial "content"}}
    <div class = "container">
        <div id = "but">
                <h1 >Wildlife Tracker</h1>
                <a href="/animal/new" class="btn btn-success">Add Animal</a>
                <a href="/sightings/new" class="btn btn-success">New Sighting</a>
    </div>

{{/partial}}

{{> layout.hbs}}